<form class="container my-3" #registration="ngForm"
  (ngSubmit)="registrationFormSubmit()">
<div class="mb-3">
     <label for="" class="form-label">Name {{!registration.submitted || name.valid}}</label>
     <input type="text" class="form-control" 
     required
     #name="ngModel"
     [(ngModel)]="registrationObj.user" name="user"
     [class.field-error]="registration.submitted && name.invalid"
     (blur)="onBlur(name)"
     >
</div>
<div class="alert alert-danger" [hidden]="!registration.submitted || name.valid">
Enter Name
</div>
<div class="mb-3">

<div class="form-check form-group">
  <input class="form-check-input" type="checkbox" ngModel value="" id="flexCheckDefault" [(ngModel)]="registrationObj.flexCheckDefault" name="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Default checkbox
  </label>
</div>
<div class="form-check form-group">
  <input class="form-check-input" type="checkbox" ngModel value="" id="flexCheckChecked" name="flexCheckChecked"
  [(ngModel)]="registrationObj.flexCheckChecked">
  <label class="form-check-label"  for="flexCheckChecked">
    Checked checkbox
  </label>
</div>
</div>

<div class="mb-3">

<div class="form-check">
  <input class="form-check-input" type="radio" ngModel name="flexRadioDefault" id="flexRadioDefault1"
  [(ngModel)]="registrationObj.flexRadioDefault">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" ngModel name="flexRadioDefault" id="flexRadioDefault2" 
  [(ngModel)]="registrationObj.flexRadioDefault">
  <label class="form-check-label" for="flexRadioDefault2">
    Default checked radio
  </label>
</div>
</div>

<div class="form-group mb-3">
     <label for="" class="form-label">Choose Course</label>
<select class="form-select" ngModel name="chooseCourse" aria-label="Default select example"
[(ngModel)]="registrationObj.chooseCourse">
  <option selected readonly>{{registrationObj.chooseCourse}}</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>

<div class="mb-3">
     <label for="" class="form-label">Description</label>
     <textarea class="form-control" name="Description" ngModel
     [(ngModel)]="registrationObj.Description"></textarea>
</div>

<div class="mb-3">
     <label for="" class="form-label">Password</label>
     <input type="password" class="form-control" name="password" ngModel
     [(ngModel)]="registrationObj.password">
</div>

<div class="mb-3">
     <label for="" class="form-label">Date</label>
     <input type="date" class="form-control" ngModel name="date"
     [(ngModel)]="registrationObj.date">
</div>
{{errorResponse}}
<input type="submit" class="btn btn-primary mt-3" value="Submit">

</form>

<div class="container">
{{registration.value | json}}
</div>